html, body {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

.navbar {
  background-color: #38AC9F;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  
}

.nav-links a:hover, .nav-links a.active {
  background-color: #83d2c9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content-wrapper {
  min-height: calc(100vh - 60px);
  padding: 20px;
}

.content-wrapper h1 {
  margin-bottom: 10px;
}

.content-container {
  max-width: 1200px;
  margin: 2px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content {
  padding: 20px;
}

.typeform-container {
  margin-top: 20px;
  min-height: 500px;
}

.pdf-container {
  max-width: 1200px;
  margin: 2px;
  padding: 20px;
}

.pdf-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.download-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #38AC9F;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.download-link:hover {
  background-color: #83d2c9;
}
#taalAdviesContainer.poster-afbeelding {
  max-height: 50vh;
  width: auto; 
  object-fit: cover; 
  display: block;
  margin: 0 auto;
}
#taalAdviesContainer .step {
  display: none;
}

#taalAdviesContainer .step.active {
  display: block;
}

#taalAdviesContainer button {
  margin-top: 10px;
  display: block;
  padding: 10px 20px;
  background-color: #38AC9F;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#taalAdviesContainer .nav-buttons {
  margin-top: 20px;
}
#taalAdviesContainer button:hover {
  background-color: #83d2c9;
}

.button {
  margin-top: 10px;
  display: block;
  padding: 10px 20px;
  background-color: #38AC9F;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.button:hover {
  background-color: #83d2c9;
}
